/***** CSS RESET *****/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/***** STYLE *****/

body { 
    font-family: "Lucida Grande", "Segoe UI", Tahoma, Helvetica, Arial, sans-serif; 
    font-size: 16px;
    line-height: 32px;
    background-color: #fafafc;
}

.container_12 {
    margin-top: 40px;
}

h1 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding-bottom: 7px;
    border-bottom: dashed 1px #DDD;
    text-transform: uppercase;
    font-size: 1.875em;
    line-height: 1.066667em;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1.333333em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

h3 {
    font-family: Arial, sans-serif;
    font-size: 1.25em;
    line-height: 1.6em;
    margin-top: 0.333333em;
    margin-bottom: 0.333333em;
}

p {
    font-size: 1em;
    line-height: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}


a, a:visited { 
    color: #4488FF
    text-decoration: none; 
}

a:hover, a:active { 
    text-decoration: underline; 
}

.hidden_link, .hidden_link a, .hidden_link a:hover {
    text-decoration: none;
    color: black;
}

/** Create event **/

.new-event .email-address {
    width: 450px;
    font-size: 1.5em;
}

.new-event .description {
    width: 450px;
    height: 70px;
    font-size: 1.1em;
}


/** Description **/

.event-details {
    padding-bottom: 1em;
}

.event-details .description {
    border-bottom: solid thin grey;
    margin-bottom: 0em;
}

.event-details .organiser {
    text-align: right;
}

.wfid_newParticipant {
    font-size: 1.2em;
}



/** Dayfindr calendar **/

.dayfindr_month_title {
    text-align: center;
    padding-top: 1em;
}

.dayfindr_month td, .dayfindr_month th {
    min-width: 76px;
    border: solid thin #ccc;
}

.dayfindr_month td {
    padding: 5px;
    background-color: white;
}

.dayfindr_month th {
    color: white;
    background-color: #336;
}

.dayfindr_month {
    -webkit-box-shadow: 3px 3px 5px #888;
    -webkit-border-radius: 2px;
    -moz-box-shadow: 3px 3px 5px #888;
    -moz-border-radius: 2px;
    /*box-shadow: 10px 10px 5px #888; */

}

.add-remove-month {
    padding-top: 1em;
    text-align: center;
    font-size: 0.6em;
}

/** Comments **/

.comments {
    padding-top: 2em;
}

.comments h3 {
    text-align: center;
}


.commentArea {
    width: 450px;
    height: 70px;
}

.comments .timeago {
    text-align: right;
    font-size: 0.7em;
    padding: 0px;
}

.comments .author {
    background-color: #336;
    color: white;
    text-shadow: #003 1px 1px 1px;
    padding-left: 1em;
    border: solid thin white;
}


/** Header & Footer **/

#header {
    padding-top: 1em;
    text-align: center;
    font-size: 3em;
    font-family: Arial, serif;
    font-weight: bold;
    text-decoration: none;
    text-shadow: #ccc 1px 1px 1px;
}

#header a {
    text-decoration: none;
}


.header_col1 {
    color: #336;
}

.header_col2 {
    color: #f3ca00;
}


#footer {
    text-align: center;
    padding-top: 4em;
    font-size: 0.8em;
}

#footer img {
    margin-bottom: -10px;
}

